extends admin
block div
    div.am-padding
        h1.am-text-center 新增分类
        form.am-form.am-form-horizontal#cate_add_form(action="/admin/cate/add",method="post")
            div.am-form-group
                label(for="name").am-u-sm-2.am-form-label 分类名
                div.am-u-sm-10
                    input(type="text" id="name" name="name" placeholder="输入分类名称")
            div.am-form-group
                label(for="api_name").am-u-sm-2.am-form-label API名
                div.am-u-sm-10
                    input(type="text" id="api_name" name="api_name" placeholder="输入API来源名称")
            div.am-form-group
                label(for="api_url").am-u-sm-2.am-form-label API地址
                div.am-u-sm-10
                    input(type="text" id="api_url" name="api_url" placeholder="输入API路径")

            div.am-form-group
                div.am-u-sm-10.am-u-sm-offset-2
                    button.am-btn.am-btn-primary.am-btn-block(type="submit") 提交
